h1 {
	font-family: 'Righteous', sans-serif;
	font-size: 80px;
	color: white;
	letter-spacing: 0.5rem;
	text-align: center;
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Roboto', sans-serif;
}

.card-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 90vw;
}

@media (max-width: 991px) {
	.card-list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 576px) {
	.card-list {
		grid-template-columns: repeat(1, 1fr);
	}
}
